.git
**/.git
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
tmp/
experiments/
data/
hex_docs/
third_party/robopianist/
*.pt
*.pth
*.zip
*.log
*.json
*.csv
*.wav
*.mp3
*.flac
*.mid
*.midi
*.pdf
*.sf2
*.tar
*.tar.gz
*.tar.xz
*.7z
*.rar
*.whl
*.egg-info
site/
